<!-- Busca Referenciados -->
<div class="container" ng-controller="ReferenciadosController as referenciadosCtrl">
	<div class="header">
        <div class="text-center col-xs-6" style="border-right: 2px solid #9B9B9B;">
            <img src="assets/logo_golden_vertical_50px.png" />
        </div> 
        <div class="col-xs-14" style="padding-top: 15px;">
            <h1 class="text-center" style="font-family: RobotoBold" ng-bind="titulo"></h1>
        </div>       
    </div>
    <div style="margin-top: 30px" back>
    	<img width="50px" src="assets/newicons/back.png"/> 
    </div>
	<div class="row" style="margin-top: 30px;">
	    <div class="col-xs-20">
	    	<div class="field">
	    		<h1>PorNome:</h1>
	    		<input type="text" style="background-color: transparent; width: 100%" />
	    	</div>
    	</div>
    </div>
    
    <div class="row" style="margin-top: 10px;">
	    <div class="col-xs-20">
	    	<div class="field">
	    		<h1>Por Especialidade:</h1>
	    		<input type="text" style="background-color: transparent; width: 100%" />
	    	</div>
    	</div>
    </div>

    <div class="row" style="margin-top: 10px;">
	    <div class="col-xs-20">
	    	<div class="field">
	    		<h1>Por Tipo de Serviço:</h1>
	    		<input type="text" style="background-color: transparent; width: 100%" />
	    	</div>
    	</div>
    </div>

    <div class="row" style="margin-top: 10px;">
	    <div class="col-xs-20">
	    	<div class="field">
	    		<h1>Por Localização:</h1>
	    		<input type="text" style="background-color: transparent; width: 100%" />
	    	</div>
    	</div>
    </div>
    
    <br>
    <div class="row">
	    <div class="col-xs-20">
	    	<a href="#ResultadoBusca"><button class="btn btn-primary btn-block btn-lg">BUSCAR</button></a>
	    </div>
    </div>
</div>