<!-- Detalhe Resultado -->  
<link rel="stylesheet" type="text/css" href="css/ui-listView.css" />          
<div ng-controller="DetalheResultadoController">
    <div class="header">
        <div class="text-center col-xs-4" style="border-right: 2px solid #9B9B9B;">
            <img src="assets/logo_golden_vertical_50px.png" />
        </div> 
        <div class="col-xs-16" style="padding-top: 15px;">
            <h1 class="text-center" style="font-family: RobotoBold" ng-bind="titulo"></h1>
        </div>       
    </div>

    <div style="margin: 90px 0 0 20px;" back>
        <img width="50px" src="assets/newicons/back.png"/> 
    </div>

    <div class="detalhe ng-cloak" style="margin-top:40px; margin-left:40px;">   
        <div>
            <h1 ng-bind="resultado.nome"></h1>
            <h1 ng-bind="resultado.especialidade"></h1>
            <h2 ng-bind="resultado.endereco1"></h2>
            <h2 ng-bind="resultado.endereco2"></h2>
            <h2 ng-bind="resultado.endereco3"></h2>
            <h2 ng-bind="resultado.tel"></h2>
            <h2 ng-bind="resultado.email"></h2>
        </div>      
    </div>
    <div class="ui-list-view-striped" style="margin-top: 20px;">
        <div style="height: 50px; background-color: background-color: #D8D8D8">
            <div style="display: inline-block; margin-left: 40px; margin-top: 13px;">
                <a href=""><h1>Mostrar no mapa</h1></a>
            </div>
            <div style="display: inline-block; float: right; margin-right: 40px; margin-top: 13px;">
                <img width="10px" src='assets/newicons/chevron-right.png' />
            </div>    
        </div>
        <div style="height: 50px; background-color: #EBEBEB">
            <div style="display: inline-block; margin-left: 40px; margin-top: 13px;">
                <a href=""><h1>Traçar rota</h1></a>
            </div>
            <div style="display: inline-block; float: right; margin-right: 40px; margin-top: 13px;">
                <img width="10px" src='assets/newicons/chevron-right.png' />
            </div>    
        </div>
        <div style="height: 50px; background-color: background-color: #D8D8D8">
            <div style="display: inline-block; margin-left: 40px; margin-top: 13px;">
                <a href=""><h1>Marcar consulta</h1></a>
            </div>
            <div style="display: inline-block; float: right; margin-right: 40px; margin-top: 13px;">
                <img width="10px" src='assets/newicons/chevron-right.png' />
            </div>    
        </div>
        <div style="height: 50px; background-color: #EBEBEB">
            <div style="display: inline-block; margin-left: 40px; margin-top: 13px;">
                <a href=""><h1>Adicionar a favoritos</h1></a>
            </div>
            <div style="display: inline-block; float: right; margin-right: 40px; margin-top: 13px;">
                <img width="10px" src='assets/newicons/chevron-right.png' />
            </div>    
        </div>
        
    </div>
</div>
