<!-- Notificações -->            
<div class="panel panel-default" ng-controller="DetalheController">
    
    <div class="panel-body ng-cloak">
        <!-- Google Maps
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker
                idKey='marker.id'
                coords='marker.coords'
                options='marker.options'>
            </ui-gmap-marker>
        </ui-gmap-google-map>
        -->              

        <!--
        <div>
            <h1 ng-bind="notification.nome"></h1>
            <h2 ng-bind="notification.especialidade"></h2>
            <h3 ng-bind="notification.endereco1"></h3>
            <h3 ng-bind="notification.endereco2"></h3>
            <h3 ng-bind="notification.endereco3"></h3>
            <h3 ng-bind="notification.tel"></h3>
            <h3 ng-bind="notification.email"></h3>
        </div>
        -->

        <div>
            <h1 ng-bind="nome"></h1>
            <h1 ng-bind="especialidade"></h1>
        </div>

        <!-- <strong><h1 class="h1List" ng-bind="home.selectedNotification.nome"></h1></strong> - <h1 class="h1List" ng-bind="home.selectedNotification.especialidade"></h1><br>
        <p class="pList" ng-bind="home.selectedNotification.data"></p> - <p class="pList" ng-bind="home.selectedNotification.horario"></p> -->                
    </div>
<!-- Notificação -->