<!-- Notificações -->            
<div class="panel panel-default" ng-controller="DetalheController">
    
    <div class="panel-body ng-cloak">
        <!-- Google Maps -->
        <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker
                idKey='marker.id'
                coords='marker.coords'
                options='marker.options'>
            </ui-gmap-marker>
        </ui-gmap-google-map>
                     

        
        <div>
        <!--<p>notificacao = {{notificacao}}</p>-->

            <h1 ng-bind="notificacao.nome"></h1>
            <h2 ng-bind="notificacao.especialidade"></h2>
            <h3 ng-bind="notificacao.endereco1"></h3>
            <h3 ng-bind="notificacao.endereco2"></h3>
            <h3 ng-bind="notificacao.endereco3"></h3>
            <h3 ng-bind="notificacao.tel"></h3>
            <h3 ng-bind="notificacao.email"></h3>
        </div>
        

       
        <!-- <strong><h1 class="h1List" ng-bind="home.selectedNotification.nome"></h1></strong> - <h1 class="h1List" ng-bind="home.selectedNotification.especialidade"></h1><br>
        <p class="pList" ng-bind="home.selectedNotification.data"></p> - <p class="pList" ng-bind="home.selectedNotification.horario"></p> -->                
    </div>
<!-- Notificação -->