<div class="container" ng-controller="FaleConoscoController as faleCtrl">
	<div class="header">
        <div class="text-center col-xs-3">
            <img src="assets/logo_golden_vertical_50px.png" />
        </div> 
        <div class="col-xs-9" style="padding-top: 15px;">
            <h1 class="text-center" style="font-family: RobotoBold" ng-bind="titulo"></h1>
        </div>       
    </div>
    <div style="margin-top: 30px" back>
    	<img width="50px" src="assets/newicons/back.png"/> 
    </div>

    <div class="row" style="margin-top: 30px;">
	    <div class="col-xs-20">
	    	<div class="field">
	    		<h1>Nome:</h1>
	    		<h2>Pedro Souza</h2>
	    	</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-xs-10" style="margin-right: 0 !important; padding-right: 0 !important">
    		<div class="field">
				<h1>Matrícula:</h1>
				<h2>989989989</h2>
			</div>
		</div>
		<div class="col-xs-10" style="margin-left: 0 !important; padding-left: 0 !important">
			<div class="field">
				<h1>CPF:</h1>
				<h2>00.000.000-00</h2>
			</div>
		</div>
	</div>
	<div class="row">	
		<div class="col-xs-20" style="margin-top: -14px !important">
		    <dir class="field">
		    	<h1>Email:</h1>
		    	<input type=text style="width: 100%; background-color: transparent;" placeholder="paulosouza@gmail.com"/>	
		    </dir>
	    </div>
    </div>
    <div class="row">	
		<div class="col-xs-20" style="margin-top: -28px !important">
		    <dir class="field">
		    	<h1>Telefone:</h1>
		    	<input type=text style="width: 100%; background-color: transparent;" placeholder="21-9000-0000"/>	
		    </dir>
	    </div>
    </div>
    <div class="row">
    	<div class="col-xs-20" style="margin-top: -14px !important">
    		<div class="field">
    			<h1>Assunto:</h1>
	    		<select class="form-group">
	    			<option>Acompanhamento Liberação de Senha</option>
	    			<option>Alteração cadastral</option>
	    			<option>Baixa de Pagamento</option>
	    			<option>Reclamação</option>
	    			<option>Sugestão</option>
	    		</select>
    		</div>
    	</div>
    </div>
    <div class="row">	
		<div class="col-xs-20" style="margin-top: -28px !important;">
		    <dir class="field">
		    	<h1>Mensagem:</h1>
		    	<textarea rows="10" type=text style="width: 100%; background-color: transparent;" placeholder="Mensagem">
		    	</textarea>	
		    </dir>
	    </div>
    </div>

    <div class="row">
	    <div class="col-xs-20">
	    	<a href="#ResultadoBusca"><button class="btn btn-primary btn-block btn-lg">ENVIAR</button></a>
	    </div>
    </div>

</div>