<!-- Meu Plano -->
<div>
	<div class="header">
        <div class="text-center col-xs-3">
            <img src="assets/logo_golden_vertical_50px.png" />
        </div> 
        <div class="col-xs-9" style="padding-top: 15px;">
            <h1 class="text-center" style="font-family: RobotoBold" ng-bind="titulo"></h1>
        </div>       
    </div>
    <div style="margin: 90px 0 0 20px;" back>
    	<img width="50px" src="assets/newicons/back.png"/> 
    </div>
	<div class="col-xs-20 text-center" style="margin-top: 30px;">
		<div class="col-xs-6">
			<a href="#Carteiras">
				<div id="circle" style="padding-top: 25px;">
					<img width="40px" src="assets/newicons/carteiras.png">
					<p style="font-family: RobotoLight, sans-serif;">Carteiras</p>
				</div>
			</a>
		</div>

		<div class="col-xs-6">
			<a href="#DadosCadastrais">
				<div id="circle" style="padding-top: 15px;">
					<img width="40px" src="assets/newicons/dadoscadastrais.png">
					<p style="font-size: 1rem;font-family: RobotoLight, sans-serif;">Dados Cadastrais</p>
				</div>
			</a>
		</div>

		<div class="col-xs-6">
			<a href="#Favoritos">
				<div id="circle" style="padding-top: 25px;">
					<img width="40px" src="assets/newicons/favoritos.png">
					<p style="font-family: RobotoLight, sans-serif;">Favoritos</p>
				</div>
			</a>
		</div>
	</div>
</div>