<!-- Notificações -->            
<div class="panel panel-default" ng-controller="NotificacoesController">
    <div class="text-center" style="margin-bottom: 20px;">
        <h1 ng-bind="titulo"></h1>
        <!-- <h3>Olá Tiago, seja bem-vindo.</h1> -->
    </div>

    <!-- Lista de Notificações -->
    <div class="panel-heading">
        <input class="form-control" ng-model="search.nome" placeholder="Procura por nome..." />
    </div>

    <div class="panel-body ng-cloak">
        <div class="ui-list-view-striped" ui-list-view="notificacao in notificacoes | filter:search" options="listView">
            <div>                
                    <img class="thumb" ng-src="assets/agenda-thumb-cinza.png" width="20px"/>
                    <strong><h1 class="h1List" ng-bind="notificacao.nome"></h1></strong><h1 class="h1List">-</h1><h1 class="h1List" ng-bind="notificacao.especialidade"></h1><br>
                <p class="pList" ng-bind="notificacao.data"></p> <p class="pList">às</p><p class="pList" ng-bind="notificacao.horario"></p>                                
            </div>
        </div>
    </div>
<!-- Notificação -->