@font-face{
	font-family: 'RobotoBold';
	src: url(fonts/roboto/roboto-bold.ttf) format('truetype');
	font-weight: bold;
}

@font-face{
	font-family: 'RobotoMedium';
	src: url(fonts/roboto/roboto-medium.ttf) format('truetype');
	font-weight: medium;
}

body{
	margin-top: 20px;
}

.notificacoes{
	width: 90%;
	height: 90%;
	margin: 0 auto;
	background-color: #000;
	opacity: .4;
}

.notificacoes1{
	position: fixed !important;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.footer{
	position: fixed;
	bottom:0;
	width: 100%;
}

.blue{
	background-color: #004B8D;
}

.blue h1{
	font-size: 3vw;
	color: white;
}

.space-top{
	margin-top: 5px;
}

.space-minor{
	margin-top: -15px;
}

.notifications{
	margin-left: 10px;
	margin-right:10px;
}

.h1List{
	font-family: helvetica, sans-serif;
	font-size: 1em;
	display: inline-block;
	line-height: 80%
	font-weight: 400;
}

.pList{
	font-family: helvetica, sans-serif;
	line-height: 80%;
	display: inline-block;
	margin-bottom: 0;
}

.panel-body .ui-list-view-bordered h1{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}






